# Download data for a functional layer of Spatial Signatures

## Population estimates

In [2]:
from download import download
import geopandas as gpd
import pandas as pd
import osmnx as ox
from tqdm import tqdm

In [10]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthesouthwestregionofengland%2fmid2019sape22dt10g/sape22dt10gmid2019southwest.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/south_west_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthesouthwestregionofengland%2fmid2019sape22dt10g/sape22dt10gmid2019southwest.zip (1 byte)

file_sizes: 17.4MB [00:00, 72.8MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/south_west_england

'../../urbangrammar_samba/functional_data/population_estimates/south_west_england'

In [11]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesintheyorkshireandthehumberregionofengland%2fmid2019sape22dt10c/sape22dt10cmid2019yorkshireandthehumber.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/yorkshire_humber_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesintheyorkshireandthehumberregionofengland%2fmid2019sape22dt10c/sape22dt10cmid2019yorkshireandthehumber.zip (1 byte)

file_sizes: 16.9MB [00:00, 72.4MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/yorkshire_humber_england

'../../urbangrammar_samba/functional_data/population_estimates/yorkshire_humber_england'

In [13]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthesoutheastregionofengland%2fmid2019sape22dt10i/sape22dt10imid2019southeast.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/south_east_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthesoutheastregionofengland%2fmid2019sape22dt10i/sape22dt10imid2019southeast.zip (1 byte)

file_sizes: 27.6MB [00:00, 71.8MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/south_east_england

'../../urbangrammar_samba/functional_data/population_estimates/south_east_england'

In [14]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesintheeastmidlandsregionofengland%2fmid2019sape22dt10f/sape22dt10fmid2019eastmidlands.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/east_midlands_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesintheeastmidlandsregionofengland%2fmid2019sape22dt10f/sape22dt10fmid2019eastmidlands.zip (1 byte)

file_sizes: 14.5MB [00:00, 104MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/east_midlands_england

'../../urbangrammar_samba/functional_data/population_estimates/east_midlands_england'

In [22]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthenorthwestregionofengland%2fmid2019sape22dt10b/sape22dt10bmid2019northwest.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/north_west_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthenorthwestregionofengland%2fmid2019sape22dt10b/sape22dt10bmid2019northwest.zip (1 byte)

file_sizes: 23.0MB [00:00, 67.3MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/north_west_england

'../../urbangrammar_samba/functional_data/population_estimates/north_west_england'

In [23]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesintheeastregionofengland%2fmid2019sape22dt10h/sape22dt10hmid2019east.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/east_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesintheeastregionofengland%2fmid2019sape22dt10h/sape22dt10hmid2019east.zip (1 byte)

file_sizes: 18.8MB [00:00, 111MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/east_england

'../../urbangrammar_samba/functional_data/population_estimates/east_england'

In [24]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinwales%2fmid2019sape22dt10j/sape22dt10jmid2019wales.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/wales', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinwales%2fmid2019sape22dt10j/sape22dt10jmid2019wales.zip (1 byte)

file_sizes: 9.60MB [00:00, 97.4MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/wales

'../../urbangrammar_samba/functional_data/population_estimates/wales'

In [25]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthenortheastregionofengland%2fmid2019sape22dt10d/sape22dt10dmid2019northeast.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/north_east_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthenortheastregionofengland%2fmid2019sape22dt10d/sape22dt10dmid2019northeast.zip (1 byte)

file_sizes: 8.39MB [00:00, 68.0MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/north_east_england

'../../urbangrammar_samba/functional_data/population_estimates/north_east_england'

In [26]:
download('https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthewestmidlandsregionofengland%2fmid2019sape22dt10e/sape22dt10emid2019westmidlands.zip',
        '../../urbangrammar_samba/functional_data/population_estimates/west_midlands_england', kind='zip')

Creating data folder...
Downloading data from https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fpopulationandmigration%2fpopulationestimates%2fdatasets%2fcensusoutputareaestimatesinthewestmidlandsregionofengland%2fmid2019sape22dt10e/sape22dt10emid2019westmidlands.zip (1 byte)

file_sizes: 17.7MB [00:00, 69.1MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/west_midlands_england

'../../urbangrammar_samba/functional_data/population_estimates/west_midlands_england'

## Geometries

In [27]:
download('https://borders.ukdataservice.ac.uk/ukborders/easy_download/prebuilt/shape/England_oa_2011.zip', '../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_england', kind='zip')

Creating data folder...
Downloading data from https://borders.ukdataservice.ac.uk/ukborders/easy_download/prebuilt/shape/England_oa_2011.zip (388.3 MB)

file_sizes: 100%|████████████████████████████| 407M/407M [00:08<00:00, 49.9MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_england

'../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_england'

In [28]:
download('https://borders.ukdataservice.ac.uk/ukborders/easy_download/prebuilt/shape/Wales_oac_2011.zip', '../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_wales', kind='zip')

Creating data folder...
Downloading data from https://borders.ukdataservice.ac.uk/ukborders/easy_download/prebuilt/shape/Wales_oac_2011.zip (30.0 MB)

file_sizes: 100%|██████████████████████████| 31.4M/31.4M [00:00<00:00, 32.5MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_wales

'../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_wales'

In [29]:
import geopandas as gpd

In [30]:
england = gpd.read_file('../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_england/england_oa_2011.shp')

In [37]:
wales = gpd.read_file('../../urbangrammar_samba/functional_data/population_estimates/oa_geometry_wales/wales_oac_2011.shp')

In [38]:
england

,code,label,name,geometry
0,E00000095,E09000002E02000010E01000015E00000095,None,"POLYGON ((549375.280 184970.971, 549375.032 18..."
1,E00000096,E09000002E02000014E01000013E00000096,None,"POLYGON ((549003.992 184933.133, 549007.974 18..."
2,E00000097,E09000002E02000014E01000013E00000097,None,"POLYGON ((548895.389 184911.808, 548897.030 18..."
3,E00000098,E09000002E02000014E01000014E00000098,None,"POLYGON ((548320.415 184671.916, 548317.197 18..."
4,E00000001,E09000001E02000001E01000001E00000001,None,"POLYGON ((532303.125 181877.594, 532301.345 18..."
...,...,...,...,...
171367,E00176760,E08000012E02001351E01006659E00176760,None,"POLYGON ((338522.000 395822.999, 338519.590 39..."
171368,E00176761,E08000012E02001350E01006662E00176761,None,"POLYGON ((340561.633 395634.271, 340560.230 39..."
171369,E00176762,E08000012E02001356E01006599E00176762,None,"POLYGON ((339559.000 394484.894, 339559.000 39..."
171370,E00176763,E08000012E02001350E01006662E00176763,None,"POLYGON ((340155.000 395530.000, 340169.000 39..."
171371,E00176764,E08000012E02001350E01006662E00176764,None,"POLYGON ((340432.631 395777.256, 340432.735 39..."

In [39]:
wales

,code,label,name,oac_super_,oac_group,oac_sub_gr,oac_supe_1,oac_group_,oac_sub__1,geometry
0,W00000175,W06000001W02000005W01000035W00000175,None,1,1a,1a2,Rural Residents,Farming Communities,Established Farming Communities,"POLYGON ((260160.798 382214.187, 260160.510 38..."
1,W00000176,W06000001W02000005W01000035W00000176,None,8,8c,8c2,Hard-Pressed Living,Hard-Pressed Ageing Workers,Ageing Rural Industry Workers,"POLYGON ((252008.629 379356.932, 252086.452 37..."
2,W00000177,W06000001W02000005W01000035W00000177,None,6,6b,6b2,Suburbanites,Semi-Detached Suburbia,White Suburban Communities,"POLYGON ((252067.902 378126.950, 252068.000 37..."
3,W00000178,W06000001W02000005W01000035W00000178,None,1,1c,1c2,Rural Residents,Ageing Rural Dwellers,Renting Rural Retirement,"POLYGON ((255377.161 379457.914, 255377.500 37..."
4,W00000179,W06000001W02000005W01000035W00000179,None,1,1a,1a2,Rural Residents,Farming Communities,Established Farming Communities,"POLYGON ((255271.500 381283.500, 255271.484 38..."
...,...,...,...,...,...,...,...,...,...,...
10031,W00010264,W06000011W02000177W01000794W00010264,None,5,5a,5a1,Urbanites,Urban Professionals and Families,White Professionals,"POLYGON ((268829.001 198038.000, 268800.846 19..."
10032,W00010248,W06000011W02000173W01000796W00010248,None,6,6b,6b2,Suburbanites,Semi-Detached Suburbia,White Suburban Communities,"POLYGON ((269379.344 199153.828, 269376.375 19..."
10033,W00010252,W06000011W02000192W01001958W00010252,None,2,2a,2a3,Cosmopolitans,Students Around Campus,Students and Professionals,"POLYGON ((266081.968 192477.220, 266044.125 19..."
10034,W00010253,W06000011W02000192W01001958W00010253,None,2,2a,2a3,Cosmopolitans,Students Around Campus,Students and Professionals,"POLYGON ((266253.011 192456.182, 266234.053 19..."
10035,W00010263,W06000011W02000178W01000836W00010263,None,5,5a,5a2,Urbanites,Urban Professionals and Families,Multi-Ethnic Professionals with Families,"POLYGON ((262500.000 196708.000, 262515.398 19..."

In [40]:
oa = england.append(wales[['code', 'label', 'name', 'geometry']])

In [41]:
oa

,code,label,name,geometry
0,E00000095,E09000002E02000010E01000015E00000095,None,"POLYGON ((549375.280 184970.971, 549375.032 18..."
1,E00000096,E09000002E02000014E01000013E00000096,None,"POLYGON ((549003.992 184933.133, 549007.974 18..."
2,E00000097,E09000002E02000014E01000013E00000097,None,"POLYGON ((548895.389 184911.808, 548897.030 18..."
3,E00000098,E09000002E02000014E01000014E00000098,None,"POLYGON ((548320.415 184671.916, 548317.197 18..."
4,E00000001,E09000001E02000001E01000001E00000001,None,"POLYGON ((532303.125 181877.594, 532301.345 18..."
...,...,...,...,...
10031,W00010264,W06000011W02000177W01000794W00010264,None,"POLYGON ((268829.001 198038.000, 268800.846 19..."
10032,W00010248,W06000011W02000173W01000796W00010248,None,"POLYGON ((269379.344 199153.828, 269376.375 19..."
10033,W00010252,W06000011W02000192W01001958W00010252,None,"POLYGON ((266081.968 192477.220, 266044.125 19..."
10034,W00010253,W06000011W02000192W01001958W00010253,None,"POLYGON ((266253.011 192456.182, 266234.053 19..."
10035,W00010263,W06000011W02000178W01000836W00010263,None,"POLYGON ((262500.000 196708.000, 262515.398 19..."

## Data cleaning

In [27]:
import pandas as pd
from glob import glob

In [20]:
df = pd.read_excel('../../urbangrammar_samba/functional_data/population_estimates/east_midlands_england/SAPE22DT10f-mid-2019-coa-unformatted-syoa-estimates-east-midlands.xlsx',
                  sheet_name='Mid-2019 Persons', header=0, skiprows=4)

In [21]:
df

,OA11CD,LSOA11CD,All Ages,0,1,2,3,4,5,6,...,81,82,83,84,85,86,87,88,89,90+
0,E00067942,E01013453,301,4,7,6,3,1,0,1,...,2,3,4,1,1,6,2,4,4,8
1,E00067946,E01013453,287,6,4,5,3,2,4,1,...,1,3,2,0,3,4,0,2,0,0
2,E00067947,E01013453,239,4,2,7,0,3,2,0,...,0,1,0,0,2,0,0,1,0,2
3,E00067950,E01013453,309,7,4,4,3,2,1,4,...,3,1,2,2,2,1,0,0,0,6
4,E00171188,E01013453,192,6,2,1,4,3,3,0,...,3,1,1,0,2,0,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14701,E00100388,E01033537,286,1,2,3,2,1,3,2,...,1,0,1,1,2,1,0,0,0,1
14702,E00100390,E01033537,454,8,5,5,2,7,3,6,...,1,0,0,2,1,0,1,1,1,2
14703,E00100392,E01033537,314,0,2,2,3,7,1,3,...,1,2,1,2,3,0,2,0,3,2
14704,E00100393,E01033537,247,6,3,0,3,1,3,2,...,0,1,4,0,2,1,0,1,0,5
14705,E00174620,E01033537,253,1,2,1,3,1,6,2,...,2,2,1,2,0,0,4,1,0,2

In [32]:
files = glob('../../urbangrammar_samba/functional_data/population_estimates/*/*.xlsx', recursive=True)

In [33]:
%time merged = pd.concat([pd.read_excel(f, sheet_name='Mid-2019 Persons', header=0, skiprows=4) for f in files])

CPU times: user 12min 2s, sys: 640 ms, total: 12min 2s
Wall time: 12min 5s

In [34]:
merged

,OA11CD,LSOA11CD,All Ages,0,1,2,3,4,5,6,...,81,82,83,84,85,86,87,88,89,90+
0,E00041378,E01008162,288,0,3,1,1,0,4,2,...,4,2,2,2,1,2,0,0,0,1
1,E00041381,E01008162,262,2,1,0,3,4,5,0,...,1,1,0,0,0,0,1,0,0,1
2,E00041382,E01008162,178,1,1,1,2,0,2,3,...,0,0,1,4,0,0,2,0,0,0
3,E00041383,E01008162,322,3,1,4,0,4,1,3,...,0,3,0,3,3,1,0,0,0,2
4,E00041386,E01008162,580,9,4,11,10,9,6,5,...,0,0,0,0,0,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23338,E00033604,E01033767,210,5,2,5,4,3,1,2,...,0,0,0,1,2,0,0,0,0,2
23339,E00032989,E01033768,372,2,0,0,0,2,1,2,...,1,1,0,0,0,0,0,0,0,0
23340,E00032990,E01033768,314,1,1,1,2,0,0,0,...,1,1,0,1,1,2,1,1,0,3
23341,E00032991,E01033768,336,6,2,1,1,1,1,0,...,0,0,0,0,0,1,0,0,0,0
23342,E00032992,E01033768,254,5,0,2,0,0,2,1,...,1,0,0,0,1,0,0,0,0,0

In [43]:
population_est = oa.merge(merged, left_on='code', right_on='OA11CD', how='left')

## Add Scotland

In [47]:
download('http://statistics.gov.scot/downloads/file?id=438c9dc6-dca0-48d5-995c-e3bb1d34e29e%2FSAPE_2011DZ_2001-2019_Five_and_broad_age_groups.zip', '../../urbangrammar_samba/functional_data/population_estimates/scotland', kind='zip')

Creating data folder...
Downloading data from https://scottish-government-files.s3.amazonaws.com/438c9dc6-dca0-48d5-995c-e3bb1d34e29e/SAPE_2011DZ_2001-2019_Five_and_broad_age_groups.zip (35.8 MB)

file_sizes: 100%|██████████████████████████| 37.5M/37.5M [00:02<00:00, 14.0MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/scotland

'../../urbangrammar_samba/functional_data/population_estimates/scotland'

In [48]:
pop_scot = pd.read_csv('../../urbangrammar_samba/functional_data/population_estimates/scotland/data - statistics.gov.scot - SAPE_2011DZ_2019_Five.csv')

In [53]:
pop_scot = pop_scot[pop_scot.Sex == 'All']

In [56]:
counts = pop_scot[['GeographyCode', 'Value']].groupby('GeographyCode').sum()

In [57]:
counts.mean()

Value    783.156537
dtype: float64

In [58]:
download('http://sedsh127.sedsh.gov.uk/Atom_data/ScotGov/ZippedShapefiles/SG_DataZoneBdry_2011.zip', '../../urbangrammar_samba/functional_data/population_estimates/dz_geometry_scotland', kind='zip')

Creating data folder...
Downloading data from http://sedsh127.sedsh.gov.uk/Atom_data/ScotGov/ZippedShapefiles/SG_DataZoneBdry_2011.zip (18.2 MB)

file_sizes: 100%|██████████████████████████| 19.1M/19.1M [00:06<00:00, 3.05MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/population_estimates/dz_geometry_scotland

'../../urbangrammar_samba/functional_data/population_estimates/dz_geometry_scotland'

In [59]:
data_zones = gpd.read_file('../../urbangrammar_samba/functional_data/population_estimates/dz_geometry_scotland')

In [60]:
data_zones

,DataZone,Name,TotPop2011,ResPop2011,HHCnt2011,StdAreaHa,StdAreaKm2,Shape_Leng,Shape_Area,geometry
0,S01006506,Culter - 01,872,852,424,438.880218,4.388801,11801.872345,4.388802e+06,"POLYGON ((383285.265 800510.607, 383348.492 80..."
1,S01006507,Culter - 02,836,836,364,22.349739,0.223498,2900.406362,2.217468e+05,"POLYGON ((383527.919 801536.276, 383541.089 80..."
2,S01006508,Culter - 03,643,643,340,27.019476,0.270194,3468.761949,2.701948e+05,"POLYGON ((383473.000 801227.000, 383597.000 80..."
3,S01006509,Culter - 04,580,580,274,9.625426,0.096254,1647.461389,9.625426e+04,"POLYGON ((383976.659 801182.579, 383984.102 80..."
4,S01006510,Culter - 05,644,577,256,18.007657,0.180076,3026.111412,1.800766e+05,"POLYGON ((384339.000 801211.000, 384316.510 80..."
...,...,...,...,...,...,...,...,...,...,...
6971,S01013477,Broxburn South - 06,605,605,303,10.988164,0.109882,1775.782199,1.098816e+05,"POLYGON ((308686.000 672220.000, 308688.000 67..."
6972,S01013478,Broxburn East - 01,860,851,358,12.438169,0.124382,2319.192976,1.243817e+05,"POLYGON ((307423.889 672579.756, 307424.594 67..."
6973,S01013479,Broxburn East - 02,786,781,428,26.714576,0.267145,3234.544766,2.671458e+05,"POLYGON ((308478.000 672440.000, 308485.000 67..."
6974,S01013480,Broxburn East - 03,671,671,302,9.624700,0.096248,1598.577583,9.624701e+04,"POLYGON ((308734.000 672598.000, 308743.000 67..."
6975,S01013481,Broxburn East - 04,451,451,189,511.606694,5.116068,13900.390027,5.116067e+06,"POLYGON ((309949.893 672738.667, 309970.518 67..."

In [64]:
scotland = data_zones.merge(counts, left_on='DataZone', right_index=True)

In [65]:
scotland

,DataZone,Name,TotPop2011,ResPop2011,HHCnt2011,StdAreaHa,StdAreaKm2,Shape_Leng,Shape_Area,geometry,Value
0,S01006506,Culter - 01,872,852,424,438.880218,4.388801,11801.872345,4.388802e+06,"POLYGON ((383285.265 800510.607, 383348.492 80...",867
1,S01006507,Culter - 02,836,836,364,22.349739,0.223498,2900.406362,2.217468e+05,"POLYGON ((383527.919 801536.276, 383541.089 80...",780
2,S01006508,Culter - 03,643,643,340,27.019476,0.270194,3468.761949,2.701948e+05,"POLYGON ((383473.000 801227.000, 383597.000 80...",615
3,S01006509,Culter - 04,580,580,274,9.625426,0.096254,1647.461389,9.625426e+04,"POLYGON ((383976.659 801182.579, 383984.102 80...",508
4,S01006510,Culter - 05,644,577,256,18.007657,0.180076,3026.111412,1.800766e+05,"POLYGON ((384339.000 801211.000, 384316.510 80...",649
...,...,...,...,...,...,...,...,...,...,...,...
6971,S01013477,Broxburn South - 06,605,605,303,10.988164,0.109882,1775.782199,1.098816e+05,"POLYGON ((308686.000 672220.000, 308688.000 67...",638
6972,S01013478,Broxburn East - 01,860,851,358,12.438169,0.124382,2319.192976,1.243817e+05,"POLYGON ((307423.889 672579.756, 307424.594 67...",809
6973,S01013479,Broxburn East - 02,786,781,428,26.714576,0.267145,3234.544766,2.671458e+05,"POLYGON ((308478.000 672440.000, 308485.000 67...",758
6974,S01013480,Broxburn East - 03,671,671,302,9.624700,0.096248,1598.577583,9.624701e+04,"POLYGON ((308734.000 672598.000, 308743.000 67...",703
6975,S01013481,Broxburn East - 04,451,451,189,511.606694,5.116068,13900.390027,5.116067e+06,"POLYGON ((309949.893 672738.667, 309970.518 67...",682

In [66]:
population_est

,code,label,name,geometry,OA11CD,LSOA11CD,All Ages,0,1,2,...,81,82,83,84,85,86,87,88,89,90+
0,E00000095,E09000002E02000010E01000015E00000095,None,"POLYGON ((549375.280 184970.971, 549375.032 18...",E00000095,E01000015,508,13,8,11,...,2,1,0,2,0,0,1,1,0,4
1,E00000096,E09000002E02000014E01000013E00000096,None,"POLYGON ((549003.992 184933.133, 549007.974 18...",E00000096,E01000013,322,2,5,6,...,2,1,0,0,0,1,0,2,1,1
2,E00000097,E09000002E02000014E01000013E00000097,None,"POLYGON ((548895.389 184911.808, 548897.030 18...",E00000097,E01000013,348,8,7,9,...,0,2,0,0,1,3,1,0,0,1
3,E00000098,E09000002E02000014E01000014E00000098,None,"POLYGON ((548320.415 184671.916, 548317.197 18...",E00000098,E01000014,305,7,6,5,...,0,0,0,0,1,0,0,1,0,0
4,E00000001,E09000001E02000001E01000001E00000001,None,"POLYGON ((532303.125 181877.594, 532301.345 18...",E00000001,E01000001,251,0,3,0,...,5,5,2,1,0,1,1,1,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181403,W00010264,W06000011W02000177W01000794W00010264,None,"POLYGON ((268829.001 198038.000, 268800.846 19...",W00010264,W01000794,280,0,4,3,...,0,1,1,0,0,0,0,0,0,0
181404,W00010248,W06000011W02000173W01000796W00010248,None,"POLYGON ((269379.344 199153.828, 269376.375 19...",W00010248,W01000796,447,8,9,8,...,0,0,0,0,0,0,0,0,1,0
181405,W00010252,W06000011W02000192W01001958W00010252,None,"POLYGON ((266081.968 192477.220, 266044.125 19...",W00010252,W01001958,296,1,0,4,...,1,1,0,1,1,0,1,0,3,2
181406,W00010253,W06000011W02000192W01001958W00010253,None,"POLYGON ((266253.011 192456.182, 266234.053 19...",W00010253,W01001958,283,0,1,0,...,1,0,0,0,0,0,0,0,0,0
181407,W00010263,W06000011W02000178W01000836W00010263,None,"POLYGON ((262500.000 196708.000, 262515.398 19...",W00010263,W01000836,266,4,1,2,...,2,1,0,0,1,0,0,0,0,3

In [67]:
scotland = scotland[['DataZone', 'Value', 'geometry']].rename(columns={'DataZone': 'code', 'Value': 'population'})

In [70]:
population_est = population_est[['code', 'All Ages', 'geometry']].rename(columns={'All Ages': 'population'}).append(scotland)

In [74]:
population_est.to_parquet('../../urbangrammar_samba/functional_data/population_estimates/gb_population_estimates.pq')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  """Entry point for launching an IPython kernel.

## WorldPop

In [79]:
download('ftp://ftp.worldpop.org.uk/GIS/Population/Global_2000_2020_Constrained/2020/BSGM/GBR/gbr_ppp_2020_constrained.tif', '../../urbangrammar_samba/functional_data/population_estimates/world_pop/gbr_ppp_2020_constrained.tif')

Downloading data from ftp://ftp.worldpop.org.uk/GIS/Population/Global_2000_2020_Constrained/2020/BSGM/GBR/gbr_ppp_2020_constrained.tif (32.7 MB)

file_sizes: 100%|██████████████████████████| 34.3M/34.3M [00:01<00:00, 19.2MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/population_estimates/world_pop/gbr_ppp_2020_constrained.tif

'../../urbangrammar_samba/functional_data/population_estimates/world_pop/gbr_ppp_2020_constrained.tif'

## POIs

Geolytix retail POIs: https://drive.google.com/u/0/uc?id=1B8M7m86rQg2sx2TsHhFa2d-x-dZ1DbSy (no idea how to get them programatically, so they were downloaded manually)

Listed buildings England https://services.historicengland.org.uk/NMRDataDownload/OpenPages/Download.aspx

In [95]:
download('https://inspire.hes.scot/AtomService/DATA/lb_scotland.zip', '../../urbangrammar_samba/functional_data/pois/listed_buildings/scotland', kind='zip')

Creating data folder...
Downloading data from https://inspire.hes.scot/AtomService/DATA/lb_scotland.zip (6.1 MB)

file_sizes: 100%|██████████████████████████| 6.41M/6.41M [00:01<00:00, 3.43MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/pois/listed_buildings/scotland

'../../urbangrammar_samba/functional_data/pois/listed_buildings/scotland'

In [96]:
download('http://lle.gov.wales/catalogue/item/ListedBuildings.zip', '../../urbangrammar_samba/functional_data/pois/listed_buildings/wales', kind='zip')

Creating data folder...
Downloading data from http://lle.gov.wales/catalogue/item/ListedBuildings.zip (2.5 MB)

file_sizes: 100%|██████████████████████████| 2.57M/2.57M [00:00<00:00, 13.3MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/pois/listed_buildings/wales

'../../urbangrammar_samba/functional_data/pois/listed_buildings/wales'

In [105]:
download('https://data.ngdc.noaa.gov/instruments/remote-sensing/passive/spectrometers-radiometers/imaging/viirs/dnb_composites/v10//201904/vcmcfg/SVDNB_npp_20190401-20190430_75N060W_vcmcfg_v10_c201905191000.tgz', 
        '../../urbangrammar_samba/functional_data/employment/night_lights', replace=True)

Downloading data from https://data.ngdc.noaa.gov/instruments/remote-sensing/passive/spectrometers-radiometers/imaging/viirs/dnb_composites/v10//201904/vcmcfg/SVDNB_npp_20190401-20190430_75N060W_vcmcfg_v10_c201905191000.tgz (390.5 MB)

file_sizes: 100%|████████████████████████████| 409M/409M [03:44<00:00, 1.82MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/night_lights

'../../urbangrammar_samba/functional_data/employment/night_lights'

In [107]:
with open('../../urbangrammar_samba/functional_data/employment/SVDNB_npp_20190401-20190430_75N060W_vcmcfg_v10_c201905191000.tgz', "wb") as down:
    down.write(requests.get('https://data.ngdc.noaa.gov/instruments/remote-sensing/passive/spectrometers-radiometers/imaging/viirs/dnb_composites/v10//201904/vcmcfg/SVDNB_npp_20190401-20190430_75N060W_vcmcfg_v10_c201905191000.tgz').content)
    down.close()

In [103]:
download('https://www.arcgis.com/sharing/rest/content/items/b6e6715fa1984648b5e690b6a8519e53/data', '../../urbangrammar_samba/functional_data/postcode/nhspd', kind='zip')

Creating data folder...
Downloading data from https://ago-item-storage.s3.us-east-1.amazonaws.com/b6e6715fa1984648b5e690b6a8519e53/NHSPD_AUG_2020_UK_FULL.zip?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGcaCXVzLWVhc3QtMSJGMEQCIE1aY0Pvl6tQbhtVpUFLoDlgPOfnYQeua3PqJo%2BY4ha7AiBmEHPkSi6dk7cfbOMACbdFZIJkTemkkKYLzVaD5gPFnSq9Awi%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDYwNDc1ODEwMjY2NSIMqVOVkqTsT8bs3%2FTqKpEDPg1CUnhXrkkNksaeepovynl5NWDCyWb5iMjrMuss6PTKTyCod85tX1OfcgXIhUdARci%2FKYA5fOpfPJGJpuJ%2B1qoljKytKriAyaNU%2FRonRCgB%2FSti5aaQy8i7uK923IlQwx1tbNswcBs2eO6bAYQagoRIsiv%2FynfrVAoot0zgl9nxGomHFYugdHXKoqqHSmAkYf%2FzEZmuehv0hPDealY%2FPUFbopmmGro0XY1ETls52NzkUJKhaqdz9kofSWpRrrOuVi8N3%2Ft9ggvENoVnAhw62OpBKLIoGvKyUa8XVX4qD5uljNRB6N9fpbR2BcxDERzhYDR2zSd0z6XCWjAI6UBBLcZy%2FOd2NMcP5tTaQWeA2gVtIReskJPB2MF60srFTUl07eEFub41lxQQyEqJ05uNg5mp2iwokIr7mR3Nq7GJxrzIH80QgYMEXiqpUlzptwYumC0%2F3JdqsXpNlyr0m4PR5VdcskpyYnsEGpnetaz%2B0G4%2FVhRlB1n4DIFfdMvahSf%2F9h%2FkhDyq7ADtcGie%2Ba3V%2Bhcw3MyF%2FQU67AFvPcSHt9IlZ4h%2B3Ls3iBfbnynIjGG96K8W23RkCzosvVeEzqvBd7oHufO3LrcegBJN0rvK4jwLbzomgGjTfGrHvfUSpPl4gUSAZp1CY2rqbng8blAX5tyGwo7%2BnOSybr33uDiJb9sFd8InpfOeV7Yud%2BB3gIQEdyOnS5XgR7hth3AIJPRsXbCR2yWJrkx%2BFjj4nDsNlVG73RbjNUL%2FfV4nm3lAsT5oUBCbFDO72xiEW9f3%2BgLUiAmwWmapM83nlhYF4ZAx%2Fltl%2BPD5BsvsF8zGUhCFXketa%2Bh3nYgPST1MYpT7ANE68XXJEtA9AQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20201103T145506Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYZTTEKKETFSSP5W2%2F20201103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=f290dd148c10a89a40b5ef7f3f0d15eda6abc484fac92116edba6a1c46205ac9 (104.8 MB)

file_sizes: 100%|████████████████████████████| 110M/110M [00:04<00:00, 24.2MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/postcode/nhspd

'../../urbangrammar_samba/functional_data/postcode/nhspd'

FHRS https://data.cdrc.ac.uk/dataset/food-hygiene-rating-scheme-fhrs-ratings (requires login)

- merge together
- create geoemtries

Business census https://data.cdrc.ac.uk/dataset/business-census (requires login)
`encoding = "ISO-8859-1"`

- get gemetries
    - either geocode addresses (could be expensive
    - or link to postcode points

In [43]:
download('http://www.scotlandscensus.gov.uk/documents/additional_tables/WP101SC.csv', '../../urbangrammar_samba/functional_data/employment/workplace/scotland.csv')

RuntimeError: Error while fetching file http://www.scotlandscensus.gov.uk/documents/additional_tables/WP102SC.csv. Dataset fetching aborted.
Error: HTTP Error 404: Not Found

In [7]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265922TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/north_west.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265922TYPE299 (781 kB)

file_sizes: 100%|████████████████████████████| 799k/799k [00:00<00:00, 6.92MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/north_west.csv

'../../urbangrammar_samba/functional_data/employment/workplace/north_west.csv'

In [14]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265926TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/east.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265926TYPE299 (636 kB)

file_sizes: 100%|████████████████████████████| 651k/651k [00:00<00:00, 6.86MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/east.csv

'../../urbangrammar_samba/functional_data/employment/workplace/east.csv'

In [15]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265924TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/east_midlands.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265924TYPE299 (492 kB)

file_sizes: 100%|████████████████████████████| 504k/504k [00:00<00:00, 6.91MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/east_midlands.csv

'../../urbangrammar_samba/functional_data/employment/workplace/east_midlands.csv'

In [16]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265927TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/london.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265927TYPE299 (839 kB)

file_sizes: 100%|████████████████████████████| 859k/859k [00:00<00:00, 6.74MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/london.csv

'../../urbangrammar_samba/functional_data/employment/workplace/london.csv'

In [17]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265921TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/north_east.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265921TYPE299 (294 kB)

file_sizes: 100%|████████████████████████████| 301k/301k [00:00<00:00, 5.98MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/north_east.csv

'../../urbangrammar_samba/functional_data/employment/workplace/north_east.csv'

In [20]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265928TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/south_east.csv', timeout=30)

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265928TYPE299 (926 kB)

file_sizes: 100%|████████████████████████████| 948k/948k [00:00<00:00, 7.44MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/south_east.csv

'../../urbangrammar_samba/functional_data/employment/workplace/south_east.csv'

In [21]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265929TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/south_west.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265929TYPE299 (591 kB)

file_sizes: 100%|████████████████████████████| 605k/605k [00:00<00:00, 7.05MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/south_west.csv

'../../urbangrammar_samba/functional_data/employment/workplace/south_west.csv'

In [22]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265925TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/west_midlands.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265925TYPE299 (599 kB)

file_sizes: 100%|████████████████████████████| 614k/614k [00:00<00:00, 6.14MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/west_midlands.csv

'../../urbangrammar_samba/functional_data/employment/workplace/west_midlands.csv'

In [23]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265923TYPE299', '../../urbangrammar_samba/functional_data/employment/workplace/yorkshire.csv')

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_1300_1.bulk.csv?time=latest&measures=20100&geography=2013265923TYPE299 (578 kB)

file_sizes: 100%|████████████████████████████| 592k/592k [00:00<00:00, 6.67MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/yorkshire.csv

'../../urbangrammar_samba/functional_data/employment/workplace/yorkshire.csv'

In [40]:
download('https://www.nrscotland.gov.uk/files/geography/output-area-2011-mhw.zip', '../../urbangrammar_samba/functional_data/employment/workplace/scotland_oa', kind='zip')

Creating data folder...
Downloading data from https://www.nrscotland.gov.uk/files/geography/output-area-2011-mhw.zip (31.2 MB)

file_sizes: 100%|██████████████████████████| 32.7M/32.7M [00:00<00:00, 65.3MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/employment/workplace/scotland_oa

'../../urbangrammar_samba/functional_data/employment/workplace/scotland_oa'

In [45]:
download('https://www.nomisweb.co.uk/api/v01/dataset/nm_155_1.bulk.csv?time=latest&measures=20100&geography=TYPE262', '../../urbangrammar_samba/functional_data/employment/workplace/wp_density_ew.csv', timeout=30)

Downloading data from https://www.nomisweb.co.uk/api/v01/dataset/nm_155_1.bulk.csv?time=latest&measures=20100&geography=TYPE262 (2.3 MB)

file_sizes: 100%|██████████████████████████| 2.46M/2.46M [00:00<00:00, 7.66MB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/wp_density_ew.csv

'../../urbangrammar_samba/functional_data/employment/workplace/wp_density_ew.csv'

In [46]:
download('https://www.nrscotland.gov.uk/files//geography/products/workplacezones2011scotland.zip', '../../urbangrammar_samba/functional_data/employment/workplace/wpz_scotland', kind='zip')

Creating data folder...
Downloading data from https://www.nrscotland.gov.uk/files//geography/products/workplacezones2011scotland.zip (14.7 MB)

file_sizes: 100%|██████████████████████████| 15.4M/15.4M [00:00<00:00, 39.3MB/s]
Extracting zip file...
Successfully downloaded / unzipped to ../../urbangrammar_samba/functional_data/employment/workplace/wpz_scotland

'../../urbangrammar_samba/functional_data/employment/workplace/wpz_scotland'

In [54]:
download('http://www.scotlandscensus.gov.uk/documents/additional_tables/WP102SCca.csv', '../../urbangrammar_samba/functional_data/employment/workplace/wp_density_scotland.csv')

Downloading data from https://www.scotlandscensus.gov.uk/documents/additional_tables/WP102SCca.csv (3 kB)

file_sizes: 100%|███████████████████████████| 2.79k/2.79k [00:00<00:00, 184kB/s]
Successfully downloaded file to ../../urbangrammar_samba/functional_data/employment/workplace/wp_density_scotland.csv

'../../urbangrammar_samba/functional_data/employment/workplace/wp_density_scotland.csv'

## cinemas, theatres

In [4]:
%%time
pois = []
for i in tqdm(range(103), total=103):
    nodes = gpd.read_parquet(f'../../urbangrammar_samba/spatial_signatures/morphometrics/nodes/nodes_{i}.pq')
    poly = nodes.to_crs(4326).unary_union.convex_hull
    tags = {'amenity': ['cinema', 'theatre']}
    pois.append(ox.geometries.geometries_from_polygon(poly, tags))

100%|██████████| 103/103 [30:11<00:00, 17.59s/it]

CPU times: user 3min 47s, sys: 5.75 s, total: 3min 53s
Wall time: 30min 11s

In [5]:
pois_merged = pd.concat(pois)
pois_merged

/opt/conda/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,unique_id,osmid,element_type,amenity,brand,brand:wikidata,brand:wikipedia,name,source,geometry,...,edinburgh_international,edinburgh_fringe,name:gd,ref:planningapp,local_name,surveillance,restaurant,building:roof:orientation,music,roof:orientation
0,node/31532987,31532987,node,cinema,Vue,Q2535134,en:Vue Cinemas,Vue,local knowledge,POINT (-2.68034 53.74839),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node/307745711,307745711,node,cinema,NaN,NaN,NaN,The Palace,NaN,POINT (-2.60005 53.82949),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node/662485019,662485019,node,theatre,NaN,NaN,NaN,Charter Theatre,NaN,POINT (-2.69619 53.75984),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node/973599598,973599598,node,theatre,NaN,NaN,NaN,Thornton Little Theatre,NaN,POINT (-3.01110 53.87245),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node/2078549775,2078549775,node,cinema,NaN,NaN,NaN,The Dukes,survey,POINT (-2.79687 54.04910),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,way/690683787,690683787,way,cinema,NaN,NaN,NaN,Essoldo (disused),NaN,"POLYGON ((-2.30625 53.44634, -2.30593 53.44619...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,node/1043270422,1043270422,node,theatre,NaN,NaN,NaN,The Partington Players Theatre,NaN,POINT (-1.94948 53.44373),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,way/117880925,117880925,way,theatre,NaN,NaN,NaN,Buxton Opera House,Bing,"POLYGON ((-1.91742 53.25824, -1.91736 53.25826...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,way/281805351,281805351,way,theatre,NaN,NaN,NaN,The Playhouse,NaN,"POLYGON ((-1.91784 53.32325, -1.91780 53.32305...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,way/158533178,158533178,way,theatre,NaN,NaN,NaN,NaN,Bing,"POLYGON ((-1.89410 52.98496, -1.89413 52.98486...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
pois_merged[['amenity', 'name', 'geometry']].to_parquet('../../urbangrammar_samba/functional_data/pois/culture_gb.pq')

/opt/conda/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
<ipython-input-13-ae30f72344a7>:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  pois_merged[['amenity', 'name', 'geometry']].to_parquet('../../urbangrammar_samba/functional_data/pois/culture_gb.pq')